.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-2);

    * {
        margin: 0;
    }
}

.list {
    padding: 0;

    li {
        margin-bottom: var(--space-2);
        margin-top: var(--space-2);
    }

    li:first-child {
        margin-bottom: var(--space-2);
        margin-top: 0;
    }

    li:last-child {
        margin-bottom: 0;
        margin-top: var(--space-2);
    }
}
