.root {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-4);
    flex-flow: wrap;
}

.title {
    margin: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.start,
.end {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    flex-wrap: wrap;
    max-width: 100%;
}

.start {
    flex-grow: 1;
}

.end {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    flex-wrap: wrap;
    max-width: 100%;
}
