.page {
    background-color: var(--accent-1);

    box-sizing: border-box;
    flex-grow: 1;
    padding: var(--space-4);
    margin: 0 auto;
    width: 100%;

    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

@media (min-width: 768px) {
    .page {
        padding-top: var(--space-4);
    }
}
