.list {
    padding: 0;

    li {
        list-style-type: none;
        margin-bottom: var(--space-2);
        margin-top: var(--space-2);
    }

    li:first-child {
        margin-bottom: var(--space-2);
        margin-top: 0;
    }

    li:last-child {
        margin-bottom: 0;
        margin-top: var(--space-2);
    }
}
