@import '@radix-ui/themes/tokens/base.css';

@import '@radix-ui/themes/tokens/colors/blue.css';
@import '@radix-ui/themes/tokens/colors/gray.css';
@import '@radix-ui/themes/tokens/colors/green.css';
@import '@radix-ui/themes/tokens/colors/red.css';

@import '@radix-ui/themes/components.css';
@import '@radix-ui/themes/utilities.css';

/*
  This file conatins some default (global) style overrides.
*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-12);
    margin-top: 0;
}

ul {
    box-sizing: border-box;
    margin: 0;
}

input,
textarea {
    box-sizing: border-box;
    color: var(--accent-12);
}

input[type='text'] {
    border-style: none;
    box-sizing: border-box;
    transition: border 0.3s ease-out;
}

textarea:focus,
input[type='text']:focus {
    outline: none;
}

a,
a:visited {
    color: var(--accent-11);
    text-decoration: none;
}
